* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Space Mono", monospace;
}

header {
  padding-top: 40px;
  padding-left: 77px;
  font-family: "Inconsolata", monospace;
  font-size: 2.4rem;
}

main {
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  max-width: 540px;
  min-width: 300px;
  width: 80vw;
}

h2 {
  max-width: 580px;
  font-size: 6.4rem;
  line-height: 95px;
  letter-spacing: -0.035em;
  color: #333333;
  margin:25px;
}

main p {
  font-size: 2.4rem;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  margin: 25px;
}

button {
  margin: 25px;
  font-weight: 700;
  font-size: 1.4rem;
  color: #ffffff;
  border: none;
  background-color: #333333;
  width: 216px;
  height: 68px;
}

footer {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  text-align: center;
  margin: 25px;
}
